html, body {
    overscroll-behavior-y: contain;
}
#root {
    width: 100%;
}
.invisible {
    display: none;
}
.plantilla > tr > th {
    text-transform: uppercase;
    
}
.limitToPrint {
    max-height: 34vh !important;
    overflow-y: auto;
}
.tablaCentrada {
    text-align: center;
}
.tablaResponsiva {
    overflow-x: auto;
    width: 100%;
}
.tablaImprimir {
    max-width: 50vw !important;
}
.tablaLimitadaLargo {
    max-height: 300px;
    overflow-y: scroll;
}
.tablaLimitadaAncho {
    min-width: 100%;
    overflow-x: auto;
}
.formulario {
    width: 100%;
}
.formularioConBotones {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.numeroConPorcentaje {
    width: 100%;
    text-align: center;
}
.beneficios {
    font-size: 35px;
}

.porcentajeEficienciaTitulo {
    font-size: 60px;
}
.noDecorativos {
    text-decoration: none;
    
}
.notificacion {
    max-width: max-content;
    overflow-x:hidden;
    display: flex;
    gap: 0.5rem;
}

.notificacion > div {
    min-width: 50%;
    font-size: 25px;
}
.imprimir {
   display: none; 
}
.cortarTexto {
    overflow-wrap: anywhere;
}
.listaRotulos {
    display: grid!important;
    grid-template-columns: repeat(2, 1fr)!important;
    gap: 1rem;
    max-height: 60vh;
    overflow-y: auto;
    margin-bottom: 2rem;
}
.watermark {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
        color: rgba(0, 0, 0, 0.1);
        z-index: 1!important;
        pointer-events: none;
        opacity: 0.2;
    }
.z-index-2 {
    z-index: 2!important;
}
@media screen and (width < 768px) {
    .tablaLimitadaLargo {
        max-height: 300px;
    }
    .ant-picker-dropdown {
        max-width: 90vw;    
    }
}
@media print {
    .noImprimir {
        display: none!important;
    }
    body {
        margin: 0;
    }
    .container {
        margin: 0;
        padding: 0;
        min-width: 100vw;
        max-width: 100vw;
    }
    .graficoInformes {
        width: 80vw;
        max-width: 80vw;
    }
    .imprimir {
        display: block;
    }
    .tablaImprimir {
        margin-left: 1rem;
        margin-right: 1rem;
        max-width: 96%!important;
    }
    .limitToPrint {
        max-height: none !important;
    }
    .listaRotulos {
        max-height: none;
        overflow-y: unset;
    }
    
}