#root {
    width: 100%;
}
.tablaResponsiva {
    overflow-x: auto;
    width: 100%;
}
.tablaLimitadaLargo {
    max-height: 300px;
    overflow-y: scroll;
}
.tablaLimitadaAncho {
    min-width: 100%;
    overflow-x: auto;
}
.formulario {
    width: 100%;
}
.formularioConBotones {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.numeroConPorcentaje {
    width: 100%;
    text-align: CENTER;
}
.beneficios {
    font-size: 35px;
}

.porcentajeEficienciaTitulo {
    font-size: 60px;
}
.noDecorativos {
    text-decoration: none;
    
}
.notificacion {
    max-width: max-content;
    overflow-x:hidden;
    display: flex;
    gap: 0.5rem;
}
.notificacion > div {
    min-width: 50%;
    font-size: 25px;
}

.imprimir {
   display: none; 
}
@media screen and (width < 768px) {
    .tablaLimitadaLargo {
        max-height: 300px;
    }
    .ant-picker-dropdown {
        max-width: 90vw;    
    }
}
@media print {
    .noImprimir {
        display: none;
    }
    body {
        margin: 0;
    }
    .container {
        margin: 0;
        padding: 0;
        min-width: 100vw;
        max-width: 100vw;
    }
    .graficoInformes {
        width: 80vw;
        max-width: 80vw;
    }
    .imprimir {
        display: block;
    }
}
